<h1>Data Science Tools and Ecosystem</h1>

<h3> In this notebook, Data Science Tools and Ecosystem are summarized.</h3>

Objecives:
<li>Popular languages</li>
<li>Commonly used libraries</li>
<li>Table data</li>
<li>Evaluating Arithmetic expressions</li>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
<li>R</li> 
<li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Panda</li>
    <li>Tensorflow</li>
</ol>>

|Data Science Tools    |
|:-:
|SQL                   |
|R studio              |
|Apache Spark          |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [38]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [40]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Lakshya Bhatt